ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
     color:black;
     font-size:18px;
     transition:all 0.3s;
}
ul li a:hover{
    color:purple;
    font-size:20px;
}
ul li{
    /*display: inline-block;*/
    float:left;
    padding-left:20px;
}
