:root{
    --body-bg:#161722;
    --main-part:#25273c;
    --text-color-primary:white;
    --text-color-secondary:#494a60;
    --heading-size:1.5rem;
    --text-size:1.2rem;
    --placeholder-color:#484b62;
    --add-note-button-text:white;
    --add-note-button-bg:#8B5DFF;
    --add-note-button-bg-hover:#6A42C2;
    --save-note-button-text:white;
    --save-note-button-bg:#6A42C2;
    --save-note-button-bg-hover:#563A9C;
    --shadow-box:0 0 0 rgba(0,0,0,0);
    --icons-default:white;
    --icon-text-bin-hover:rgba(255, 0, 0, 0.742);
    --icon-text-edit-hover:rgba(0, 0, 255, 0.855);
}
*{
    box-sizing: border-box;
    font-family: 'vazir',sans-serif;
}
.light{
    --body-bg:white;
    --main-part:white;
    --text-color-primary:black;
    --placeholder-color:rgba(0, 0, 0, 0.416);
    --shadow-box:0 4px 15px rgba(0,0,0,0.200);
    --icons-default:black;
}
body{
    background-color: var(--body-bg);
}
p{
    margin: 0;
}
#main{
    border-radius: 10px;
    background-color: var(--main-part);
    width: 60%;
    box-shadow: var(--shadow-box);
    margin-bottom: 4rem;
}
.divTheme{
    margin-top: 3rem;
    width: 60%;
}
.divTheme .theme{
    width: 2.2rem;
}
.divTheme button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.note-icon{
    width: 3.5rem;
    transform: rotate(15deg);
    animation: rotateNote 3000ms ease infinite;
}
@keyframes rotateNote{
    50%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(15deg);
    }
}
.header .title{
    color: var(--text-color-primary);
    font-size: var(--heading-size);
    position: relative;
    top: 8px;
}
.add-note{
    color: var(--add-note-button-text);
    background-color: var(--add-note-button-bg);
    border:none;
    font-size: 1.2rem;
    font-weight: 600;
    padding:0.4rem 1.2rem;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
}
.add-note span{
     z-index: 2;
     position: relative;
}
.add-note::before{
    content: "";
    position: absolute;
    background-color: var(--add-note-button-bg-hover);
    width: 0.5rem;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    z-index: 1;
}
.add-note:hover::before{
    opacity: 1;
    width: 100%;
}
.info-note{
    border-bottom: 3px dotted var(--text-color-primary);
    padding-bottom: 1.7rem;
}
.info-note label{
    font-size: 1.2rem;
    color: var(--text-color-primary);
}
.info-note input{
    width: 90%;
}
.save-note{
    color: var(--save-note-button-text);
    background-color: var(--save-note-button-bg);
    border:none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 10px;
    transition: all 0.3s;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.info-note button:hover{
    background-color: var(--save-note-button-bg-hover);
}
.info-note button i{
    font-size: 1.2rem;
    position: relative;
    top: 5px;
}
.change-btns{
    color: var(--text-color-primary);
    font-size: var(--text-size);
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
}
.change-btns i{
    position: relative;
    top: 4px;
}
.bin:hover{
    color: var(--icon-text-bin-hover);
}
.edit:hover{
    color: var(--icon-text-edit-hover);
}
.name-note p{
    color: var(--text-color-primary);
    font-size: 1.2rem;
}
.name-note i{
    color: var(--icons-default);
    font-size: 1.2rem;
    position: relative;
    top: 5px;
}
.div-text-notes {
    border: 2px solid var(--text-color-primary);
    border-radius: 10px;
}
.div-text-notes p{
    color: var(--text-color-primary);
    font-size: 1.2rem;
}
.input-edit{
    background: transparent;
    width: 100%;
    border: none;
    color: var(--text-color-primary);
    font-size: 1.1rem;
}
.input-edit:focus{
    outline: none;
}
.dragging{
    opacity: 0.5;
}

@media(max-width:990px)
{
    #main{
        width: 90%;
    }
    .divTheme{
        width: 90%;
    }
}