body{
    background-color: #DFD0B8;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 17rem;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.7rem 1rem;
    border-radius:999px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.175);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #DFD0B8;
}
.box .fi{
    font-size:1.5rem;
    transition: all 0.5s ease;
}
input{
    width: 0rem;
    border:none;
    font-size: 1rem;
    transition: all 0.5s ease;
}
input::placeholder{
    font-size: 1rem;
}
input:focus{
    outline: none;
}
.box:hover{
    input{
        width: 28rem;
    }
}
